PRIVATE_KEY=
REACTIVE_PRIVATE_KEY=

BASE_SEPOLIA_RPC_URL=
UNICHAIN_SEPOLIA_RPC_URL=
LASNA_RPC_URL=https://lasna-rpc.rnk.dev/
MAINNET_RPC_URL=

POOL_MANAGER=
CALLBACK_PROXY=
DIRECT_SETTLEMENT_CALLER=
REACTIVE_SENDER=
HOOK_ADDRESS=
DESTINATION_CHAIN_ID=

MORPHO=0xBBBBBbbBBb9cC5e90e3b3Af64bdAF62C37EEFFCb
EPOCH_LENGTH=20
CALLBACK_GAS_LIMIT=1500000
REACTIVE_DEPLOY_VALUE=1000000000000000000
RETRY_SUBSCRIPTION=true
